@page
@model Hotel_MySQL_App.Pages.CreateHotelModel
@{
}


<div class="alert alert-danger" role="alert">
    This is a danger alert—check it out!
</div>

<h1>Hotels</h1>


<form method="POST">
                  
      
                <input type="text" name="sigla" id="sigla"  placeholder="Insira a sigla do hotel"/>
            
                <input type="text" id="designacao" name="Designacao" placeholder="Insira a designacao do hotel" />
       
                <input type="text" id="localizacao" name="Localizacao" placeholder="Insira a localizacao do hotel" />
            
                <input type="submit" value="Criar" />
            

      
</form>

