@page
@model IndexModel
@{
    ViewBag.Title = "Index";
}
<h2>Hotels</h2>
<table class="table">
    <tr>
        <th>Sigla Hotel</th>
        <th>Designacao</th>
        <th>Localizacao</th>
        <th>Created At</th>
    </tr>
    @foreach (var item in Model.Hotels)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sigla_Hotel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Designacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Localizacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
        </tr>
    }
</table>